@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 15px;
}

body {
  font-family: 'Big Shoulders Display', 'Lexend Deca', sans-serif;
  background-color: var(--very-light-gray);
}

section {
  display: grid;
  place-items: center center;
  min-height: 100vh;
  padding: 35px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 500px;
}

.grid-3-cols div:first-child {
  border-radius: 10px 0 0 10px;
}

.grid-3-cols div:last-child {
  border-radius: 0 10px 10px 0;
}

.icon {
  width: 60px;
}

.option h1 {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

.option {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 1rem;
  color: var(--transparent-white);
  padding: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.option p {
  line-height: 1.7;
  margin-bottom: 45px;
}

.btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #fff;
  mix-blend-mode: lighten;
  padding: 15px 30px;
  align-self: flex-start;
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

footer {
  text-align: center;
  width: 100%;
  padding: 6px 0;
}

footer a {
  text-decoration: none;
  color: var(--bright-orange);
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  section {
    display: grid;
    place-items: center center;
    min-height: 100vh;
  }

  .grid-3-cols {
    grid-template-columns: 327px;
    grid-template-rows: repeat(3, 442px);
  }

  .grid-3-cols div:first-child {
    border-radius: 10px 10px 0 0;
  }

  .grid-3-cols div:last-child {
    border-radius: 0 0 10px 10px;
  }

  .icon {
    width: 65px;
    margin: 0;
  }

  .option p {
    margin-bottom: 0;
  }
}
