@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display:wght@400');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 15px;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  font-family: 'Big Shoulders Display', 'Lexend Deca', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 500px;
}

.grid-3-cols div:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid-3-cols div:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon {
  width: 60px;
}

.option h1 {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
  /* margin-bottom: 42px; */
}

.option {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 1rem;
  color: var(--transparent-white);
  padding: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option p {
  /* margin-bottom: 88px; */
}

.btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #fff;
  mix-blend-mode: lighten;
  padding: 15px 30px;
  align-self: flex-start;
}

a:hover,
:active {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
